body {
  font-family: "Roboto", sans-serif;
  max-width: 1480px;
  margin: 0 auto;
  padding: 60px 100px 30px 100px;
}

.header {
  margin-bottom: 50px;
}

.logo {
  font-size: 80px;
  line-height: 90px;
  display: flex;
  text-align: center;
  justify-content: flex-start;
}

.black-letters {
  color: #000000;
}

.blue-letters {
  color: #4bcaff;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #35444f;
  margin-top: 40px;
}

.menu li {
  border-right: 1px solid white;
  padding: 20px 30px 20px 30px;
  cursor: pointer;
}

.first {
  border-left: 1px solid white;
}

.first:hover{
  background-color: #222f3a;
}

.menu li a {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.hover-menu-item:hover {
  background-color: #222f3a;
}

/* styles for vertical left menu */

.main-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
}

.sidebar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.vertical-menu {
  display: flex;
  flex-direction: column;
  width: 344px;
  border: 1px solid black;
}

.vertical-menu li a {
  color: #495863;
  display: block;
  font-size: 27px;
  line-height: 27px;
  padding: 27px;
}


.hover-vertical-menu:hover {
  background-color: #dbdbdb;
  color:black;
  padding-left: 65px;
}

/* styles for content */

.content {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
}
img {
  border: 1px solid black;
  padding: 75px 268px 73px 297px;
  margin-bottom: 35px;
}

.first-text,
.second-text {
  color: #2c2c2c;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.first-text {
  margin-bottom: 34px;
}

.second-text {
  margin-bottom: 50px;
}

/* styles for footer */

.footer {
  display: flex;
  align-items: center;
  background-color: #63696e7a;
  justify-content: space-between;
  padding: 20px 40px;
}

.footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-menu li a {
  color: #0c1927;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  margin-right: 28px;
  padding-bottom: 10px;
}

.hover-link:hover {
  border-bottom: 1px solid #3181a6;
  color: rgba(49, 129, 166, 1);
}

.text-right {
  font-size: 24px;
  line-height: 24px;
  color: #010101;
}
